.rain-drop-holder{
    position: relative;
    width: 100%;
    height: 10px;
}

.rain-drop {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    position: absolute;
    display: block;
}

.rain-drop-animate{
    animation: rain-drop-down 10s ease-in infinite;
}

@keyframes rain-drop-down {
    0% {
        transform: translateY(0%) ;
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(100vh) scale(5.1);
    }
}