body {
    background-image: url("../imgs/background.png");
    font-family: "Fjalla One";
}

main {
    height: 100vh;
    position: relative;
    margin:  5px;
}

.c-vertical {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.bg-x-dark{
    background-color: rgba(0,0,0,0.9)!important;
}

.bottom-card-holder{
    text-align: center;
    width: 100%;
    right: 0px;
    bottom: 0px;
    position: absolute;
    margin: 0  !important;
    padding:0px 25px;
}

@keyframes card-selected-animation {
    100%{
        transform: scale(1.2);
    }
}
.card-active{
    z-index: 1000 !important;
    margin-top: -40px  !important;
    border: black 2px solid !important;
    animation: card-selected-animation 0.5s ease-in-out;
    animation-fill-mode: forwards;
}

.card:not(.card-active){
    animation: scale-down-animation 0.5s ease-in-out ;
    animation-fill-mode: forwards;
}

@keyframes scale-down-animation {
    100%{
        transform: scale(0.9);
    }
}
.card {
    height: 150px;
    background-color:#9A1111 !important;
}
.card img{
    margin: auto;
    max-width: 80px;
}

.card p{
    font-size: 20px;
    font-weight: bold;
}

.card-active-section{
    display: block !important;
    animation: fade-in-animation 0.5s ease-in-out forwards;
}

@keyframes fade-in-animation {
    0% {
        opacity : 0;
    }
    100%{
        opacity: 1.0;
    }
}
.about-us-section {
    background-color: transparent !important;
}

.main-content section{
    display: none;
}
.main-content {
    height: 100%;
}

.title-main{
    display: block;
    font-weight: bold;
font-size: 200px;
text-align: center;
}
.sub-title{
    display: block;
    font-size: 40px  !important;

}